@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;	
}

div / section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
 
body {
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	color: #ffffff;
}

p {
	font-size: 25px;
	font-weight: 400
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	padding: 5em 3em;
	display: inline;
}

h1 {
	font-family: "Roboto Condensed", italics;
	font-weight: 800;
	font-size: 80px;
	text-decoration: underline;
	text-transform: uppercase;
}

#slogan {
	font-style: italic;
	font-weight: 500;
	font-size: 40px;
}